<div class="container mt-3">

        <form class="form-inline" #form="ngForm" (ngSubmit)="loadUsers()" novalidate>
                <div class="form-group px-2">
                  <label for="gender">Show: </label>
                  <select class="form-control ml-1" style="width: 130px" id="gender" 
                  [(ngModel)]="userParams.influencerOrBrand"
                  name="gender">
                    <option *ngFor="let influencerOrBrand of influencerOrBrandList" [value]="influencerOrBrand.value">
                        {{influencerOrBrand.display}}
                    </option>
                  </select>
                </div>
                <button type="submit" class="btn btn-primary" style="margin-left:10px">Apply Filters</button>
              
              </form>
              <br>

    <div class="row">
        <div *ngFor="let user of users" class="col-lg-2 col-md-3 col-sm-6">
            <app-member-card [user]="user"></app-member-card>
        </div>
    </div>
<div class="d-flex justify-content-center">
    <pagination [boundaryLinks]="true" [totalItems]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    [itemsPerPage]="pagination.itemsPerPage"
    (pageChanged)="pageChanged($event)"
    previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;">

</pagination>
</div>