<div class="container mt-5">
  <div *ngIf="!registerMode" style="text-align: center">
    <h2>Welcome to the internet!</h2>
    <br>
    <h3>Step 1: Create your account</h3><br>
    <h3>Step 2: Edit your profile</h3><br>
    <h3>Final step: Get socialized</h3><br>
    <h3></h3>
    <div class="text-center">
      <button class="btn btn-primary btn-lg mr-2" (click)="registerToggle()" *ngIf="!loggedIn()">Register</button>
    </div>
  </div>

  <div *ngIf="registerMode" class="container">
    <div class="row justify-content-center">
      <div class="col-4">

        <app-register (cancelRegister)="cancelRegisterMode($event)"></app-register>

      </div>
    </div>
  </div>
</div>
